body{
  color:#999;
  /* background-image: url(../images/img.jpg); */
  background: #52c234;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Roboto',sans-serif;;
  background-size: cover;
  height: 100%;

    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.form-control{
  min-height: 41px;
  box-shadow: none;
  border-color: #e1e1e1;
}
.form-control:focus{
  border-color: #00cb82;
}
.form-control, .btn{
  border-radius: 3px;
}
.form-header{
  margin: -30px -30px 20px;
  padding: 30px 30px 10px;
  text-align: center;
  background: green;
  border-bottom: 1px solid #eee;
  color: #fff;
}
.form-header h2{
  font-size: 34px;
  font-weight: bold;
  margin:0 0 10px;
  font-family: 'Pacifico', sans-serif;
}

.form-header p{
  margin:20px 0 15px;
  font-size: 17px;
  line-height: normal;
  font-family: 'Courgette',sans-serif;
}
.signup-form{
  width:400px;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form form{
  color:#999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #f0f0f0;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  padding: 30px;
}
.signup-form label{
  font-weight: normal;
  font-size: 13px;
}
.signup-form input[type="checkbox"]{
  margin-top:2px;

}
.signup-form .btn{
  font-size: 16px;
  font-weight: bold;
  background: grey;
  border: none;
  min-width: 200px;

}
.signup-form .btn:hover, .signup-form .btn:focus{
  background: green !important;
  outline: none;
}
.signup-form a{
  color: black;
}
.signup-form a:hover{
  text-decoration: underline;
}
